GEMINI_API_KEY=AIzaSyC1NZAEcSepqPq4OTxZo7O6u7MjOv7bsso
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCzaOwz5yzhcZRBMZYR9J3F-r8g-7p2WSA
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=studio-2725546260-fde38.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=studio-2725546260-fde38
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=429342082670
NEXT_PUBLIC_FIREBASE_APP_ID=1:429342082670:web:6b6c3adb15c1042ebc887f
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=studio-2725546260-fde38.firebasestorage.app